<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Danh sách món ăn</title>
</head>
<body>
<div layout:fragment="content">
<h2>Danh sách món ăn</h2>

<!-- Bẫy dữ liệu -->
<div th:if="${dishes == null or #lists.isEmpty(dishes)}">
  <p>Hiện tại nhà hàng đang cập nhật thực đơn, vui lòng quay lại sau</p>
</div>

<!-- Có dữ liệu -->
<table border="1" th:unless="${dishes == null or #lists.isEmpty(dishes)}">
  <tr>
    <th>ID</th>
    <th>Tên món</th>
    <th>Giá</th>
    <th>Trạng thái</th>
  </tr>

  <tr th:each="dish : ${dishes}">
    <td th:text="${dish.id}"></td>
    <td th:text="${dish.name}"></td>
    <td th:text="${dish.price}"></td>

    <!-- xử lý trạng thái -->
    <td th:text="${dish.available ? 'Còn hàng' : 'Hết hàng'}"
        th:style="${dish.available} ? '' : 'color:red'">
    </td>
    <td>
      <a th:href="@{|/bai3/edit/${dish.id}|}">Chỉnh sửa</a>
    </td>
  </tr>
</table>
</div>
</body>
</html>